table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}
td,
th {
  text-align: left;
  padding: 25px;
  border-left: none;
  border-top: none;

}
